.first-chapter{
    width: 1440px;
    height: 788px;
    overflow: hidden;
}

.frame{
    transform: translate(-274px, 382px);
    scale: 3.16;
}

.r{
    fill: yellow !important;
}

text{
    font-family: sans-serif !important;
}