body{
    overflow-x: hidden;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;   /* sağ scroll bar kalınlığı */
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.first-chapter{
    width: 1440px;
    height: 788px;
    overflow: hidden;
}

.frame{
    transform: translate(-274px, 382px);
    scale: 3.16;
}

.r{
    fill: yellow !important;
}

text{
    font-family: sans-serif !important;
}